#bio-section {
    width:100vw;
    height: fit-content;
    background-color: rgb(161, 150, 84);
    /* background-color: rgb(232, 211, 74); */
    margin: 0;
    padding-top: 8vh;
    padding-bottom: 6vh;
    overflow:hidden;
}

#bio-section h2 {
    font-size: 2.5rem;
    text-decoration:underline;
    font-weight: bold;
    padding-left: 2vw;
    margin-bottom: 3vh;
}

#bio-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

#bio-para {
    padding-left: 2vw;
    width: 65vw;
    font-size: 1.25rem;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 300;
    /* font-family: monaco,Consolas,Lucida Console,monospace; */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

#bio-para li{
    list-style: disc;
}

#bio-pic {
    width: 280px;
    height: 320px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    background-image: url("../../docs/profile_pic.jpg");
    background-size: cover;
    margin-right: 5vw;
}
#profile-pic {
    size: 0;
}

#icon-info {
    font-weight: bold;
}

.icons {
    padding: 3vh 0.25vw;
}