#experience-section {
    width:100vw;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 8vh;
}

#experience-section h2 {
    padding-left: 2vw;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration:underline;
}

#experiences {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.experience-button {
    flex: 50%;
    cursor: pointer;
    width: 30vw;
    height: 15vh;
    background-color:transparent;
    border-radius: 2%;
    border: none;
    margin: 5vh 5vw;
}

.experience-button:hover {
    background-color: rgb(236, 230, 188);
}

#Perasia {
    background-image: url("../../docs/perasia_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Siemens {
    background-image: url("../../docs/siemens_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#University {
    background-image: url("../../docs/uw_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-header h3{
    font-weight: bolder;
}

.modal-header p {
    padding: 0;
    margin: 0;
    font-size: small;
    font-style: italic;
}

.close-btn {
    font-size: 2rem;
    background-color: transparent;
    border:none;
    opacity: 0.5;
}

.close-btn:hover {
    opacity: 1;
}