#navigation-section {
    position: fixed;
    font-size: 1rem;
    top: 0;
    width: 100vw;
    /* background-color: rgba(92, 153, 214, 0.8); */
    background-color: rgb(110, 146, 180);
    z-index: 1;
    padding-left: 2rem;
}

/* #navigation-section a{
    color: black;
    opacity: 0.7;
    text-decoration: none;
} */

#personal-name {
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-weight: bolder;
}
.nav-item {
    cursor:pointer;
}

.navbar-links {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    color:black;
    text-decoration: none;
}

.navbar-links:hover{
    color:rgb(255, 255, 255);
    text-decoration: underline;
}

/* .navbar-nav{
    display: flex;
    justify-content: center;
} */

/* #navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2vh;
    list-style: none;
    color:rgb(0, 0, 0);
}
  
#navbar li {
    cursor: pointer;
}

#navbar li:hover {
    color:rgb(142, 138, 153);
    transform: scale(1.05);
    text-decoration: underline;
}

#navbar a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
*/
.active {
    font-weight: bolder;
    transform: scale(1.05);
    color:rgb(0, 0, 0);
    text-decoration: none;
}