#project-section {
    width:100vw;
    height: fit-content;
    background-color: rgb(218, 211, 211);
    margin: 0;
    padding-top: 8vh;
}

#project-section h2 {
    padding-left: 2vw;
    font-size: 2.5rem;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project-block {
    padding: 10vh 10vw;
    width: 30vw;
    word-wrap: break-word;
    font-size: 1rem;
}

.project-button {
    cursor:pointer;
    width: 35vw;
    height: 35vh;
    background-color: transparent;
    border-radius: 2%;
    border: none;
}

#Garbage {
    background-image: url("../../docs/garbage_classifier.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#Flight {
    background-image: url("../../docs/flight_application.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#Racial {
    background-image: url("../../docs/racial_justice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Sharded {
    background-image: url("../../docs/kv_store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-modal {
    align-self: center;
}