#project-section {
    width:100vw;
    height: fit-content;
    background-color: rgb(161, 150, 84);
    /* background-color: rgb(232, 211, 74); */
    margin: 0;
    padding-top: 8vh;
}

#project-section h2 {
    padding-left: 2vw;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration:underline;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project-block {
    flex: 50%;
    padding: 8vh 8vw;
    width: 30vw;
    word-wrap: break-word;
}

.project-block h3 {
    font-weight: bold;
}

.project-button {
    cursor:pointer;
    width: 35vw;
    height: 35vh;
    background-color: transparent;
    border-radius: 5px;
    border: none;
}

#IPO {
    background-image: url("../../docs/ipo_ss.png");
    background-size: cover;
}

#Code {
    background-image: url("../../docs/code_racer.jpg");
    background-size: cover;
}

#Garbage {
    background-image: url("../../docs/garbage_classifier.jpg");
    background-size: cover;
    background-position: bottom;
    /* background-repeat: no-repeat; */
}

#Sudoku {
    background-image: url("../../docs/sudoku_universe.jpg");
    background-size: cover;
}

#Intoxication {
    background-image: url("../../docs/intoxication_model.png");
    background-size: cover;
}

#Flight {
    background-image: url("../../docs/flight_application.jpg");
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: bottom; */
}

#Racial {
    background-image: url("../../docs/racial_justice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Sharded {
    background-image: url("../../docs/kv_store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-modal {
    align-self: center;
}

.project-title {
    text-align: center;
    font-size: 1.5rem;
    font-family:monaco,Consolas,Lucida Console,monospace;
}

.project-libraries {
    text-align: center;
    font-size: 1.5rem;
    font-family:monaco,Consolas,Lucida Console,monospace;
    font-style: italic;
}